[package]
name = "tradewars-scoreboard"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "scoreboard"
path = "scoreboard.rs"

[dependencies]
chrono = "0.4"

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = true
