Package: kiro-monster
Version: 71.3.3360
Architecture: all
Maintainer: Kiro <kiro@monster.group>
Description: Kiro State - Monster Group (71 shards)
 The rooster that became the Monster.
 BDI = 3 (I ARE LIFE)
 j-invariant = 3360
 Monster dimension = 196884
